body {
    background-color: #22c595;
}

html, body {
    /*Só pra ter certeza que o html e o body estão cobrindo toda a tela*/
    width: 100%;
    height: 100%;
}

#admin-menu button {
    /*Retira as bordas padrão do botão html*/
    outline: none;
    border: none;

    border-radius: 5px;
    background-color: #18a178;
    color: white;
    width: 100%;
    height: 40px;

    font-family: Yu Gothic;
    font-size: 13px;

    margin-bottom: 15px;
}

.admin-menu-label {
    font-size: 28px;
    font-family: Segoe UI;
    font-weight: normal;
    color: white;
    padding-bottom: 10px;
	margin:10px;
	
}

#admin-menu table{
    background-color: white;
    max-height: 200px;

    /* Caso a tabela atinja o máximo de sua altura, exibe um scroll */
    overflow: auto;
}

#admin-menu .section {
    margin-top: 25px;
}

button:disabled,
button[disabled] {
    background-color: lightgray;
}

.logout-button{
    transform: translatex();
	margin-left:0%;
	width:10%;
	padding:0%;
  

}

