body {
    background-color: #22c595;
}

html, body {
    height: 100%;
    width: 100%;
}

h4 {
    color: grey;
    font-family: "Segoe UI";
    margin: 10px 20px 10px 20px ;
    padding: 5px;

}

.round-button {
    border: none;
    border-radius: 5px;
    background-color: #18a178;
    color: white;

    width: 100%;
    height: 40px;
    margin-top: 25px;

    cursor: pointer;
    transition-duration: 0.4s;

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.round-button:hover {
  background-color: #40a178;
}

.button3:hover {
  background-color: #f54747;
}

.white-bg {
    background-color: white;
}

.section {
    margin-top: 35px;
}
