html {
    width: 100%;
    height: 100%;
}

/* Definições gerais usadas ao longo dos templates */
body {
    background-color: #eee;
}

.text-right {
    text-align: right;
}

.zelda-btn-round {
    border-radius: 10em;
}

#main-body .btn.uea-dark:hover {
    background-color: #13966E;
    background-color: #13A35D;
}

#main-body .btn-flat {
    background-color: transparent;
    color: #a07575 !important;
    box-shadow: none;
}

/* Estilo do autocomplete */

/* Estilo dos botões fixos na tela */
#main-body .my-btn-fixed {
    position: fixed;
    bottom: 65px;
    right: 24px;
}

/* Estilo dos floating buttons */
#main-body .my-btn-floating {
    text-decoration: none;
    overflow: hidden;

    border-radius: 50%;
    border-style: none;

    width: 61.1px;
    height: 61.1px;

    padding: 0;

    transition: .3s;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

#main-body .my-btn-floating i {
    display: inline-block;

    color: white;

    font-size: 1.625rem;
    line-height: 61.1px;
    text-align: center;

    width: inherit;
}

/* Estilo para botões usados dentro de tabelas */
#main-body .my-icon-button {
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
}

#main-body .my-icon-button i {
    display: inline-block;
    line-height: 25px;
    width: inherit;
}

#main-body div.my-icon-button {
    display: inline;
}

/* Definições de cores padrões do tema da uea */
#main-body .uea-light {
    background-color: #22c596; /* antigo */
    background-color: #54D182; /* novo */
}

#main-body .uea-dark {
    background-color: #008349; /* novo */
    background-color: #18a078; /* antigo */
    background-color: #0e9956; /* play store */
}

#main-body .white-bg {
    background-color: white;
}

#main-body .green-fg {
    color: #4CAF50;
}

#main-body .red-fg {
    color: #F44336;
}

#main-body .gray-fg {
    color: lightgray;
}

#main-body .black-fg{
    color: black;
}