.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-cropper > img {
    display: inline;
    margin: auto;
    max-height: 100%;
}

#main-body .card-profile-image {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

#home-main-div {
    padding-top: 5rem;
}

.menu-item {
    height: 100%;
    color: white;
    padding: 10px 15px;
    margin: 0.125rem;
    border-radius: 1px;
}

.menu-item i {
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu-item img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 60px;
}

.menu-item span {
    display: block;
    word-wrap: break-word;
}