.signature {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #39825D;
    font-family: Segoe-UI;
    color: white;
    font-weight: bolder;
    text-align: right;
}

#error-messages {

    background-color: white;
    border: none;
    border-radius: 12px;
    font-size: 15px;
}

#uea-logo {
  font-weight: bolder;
  font-size: 150px;
  text-align: center;
  color: white;
}
