body {
    background-color: #22c595;
}

html, body {
    /*Só pra ter certeza que o html e o body estão cobrindo toda a tela*/
    width: 100%;
    height: 100%;
}

#login-page-container {
    /*Pra fazer uma div interna centralizar na altura, a div externa deve cobrir toda a altura onde se quer centralizar (nesse caso, toda a altura da tela)*/
    height: 100%;
}

#central-content {
    position: relative;
    /*Uma margem de 50% da altura do elemento pai*/
    top: 30%;
    /*Desloca a posição do elemento 50% de sua altura para cima (dando o efeito de centralização)*/
    transform: translateY(-50%);
}

.round-button {
    border: none;
    border-radius: 5px;
    background-color: #18a178;
    font-family: "Segoe UI";
    font-size: 20px;
    color: #FFFFFF;
    width: 225px;
    height: 50px;
    margin-top: 80px;
    transform: translateY(150%);
    cursor: pointer;
    transition-duration: 0.4s;
    overflow: auto;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-left: 60px;
}

#cad-setor {
    font-family: Century Gothic;
    font-size: 25px;
    color: #FFFFFF;
    padding-top: 40px;
}

button {
	margin-bottom:15px;
}

#nome-setor {
    transform: translateX(-9%);
    font-weight: normal;
    font-family: Century Gothic;
    font-size: 20px;
    color: #FFFFFF;
    margin:1%;
    margin-bottom: 8px;
}

#login-page-container .input-group-addon {
    background-color: #18a178;
    border: none;
    color: white;
}

