body {
    background-color: #22c595;
}

html, body {
    height: 100%;
    width: 100%;
}

h2 {
    margin: 10px 20px 10px 20px;
    padding: 5px;
}

h4 {
    margin: 10px 20px 10px 20px ;
    padding: 5px;
}

.round-button {
  border: none;
  border-radius: 5px;
  background-color: #18a178;
  font-family: "Segoe UI";
  font-size: 20px;
  color: #FFFFFF;
  width: 225px;
  height: 50px;
  margin-top: 80px;
  transform: translateY(150%);
  cursor: pointer;
  transition-duration: 0.4s;
  overflow: auto;}

  button {
  	margin-bottom:15px;
  }
.round-button:hover {
  background-color: #40a178;
}

.section {
    margin-top: 35px;
}

#cad-usuario {
    font-family: Century Gothic;
    font-size: 25px;
    color: #FFFFFF;
}

#labels {
    font-family: Century Gothic;
    font-size: 20px;
    color: #FFFFFF;
}
