passlib==1.7.1
Flask_MySQLdb==0.2.0
WTForms==2.1
Flask==0.12.2
Flask-Mail==0.9.1
Flask_WTF==0.14.2
click==6.7
Flask-HTTPAuth==3.2.3
Flask-Login==0.4.0
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
mysqlclient==1.3.12
SQLAlchemy==1.1.14
Werkzeug==0.12.2
flask-json==0.3.2