{% extends "base.html" %}

<!-- Injeta o css próprio desta página no head do base.html-->
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin-style.css') }}"/>
{% endblock %}

{% block content %}
<div class="container" id="admin-menu">
    <div class="row">
        <div class="col-xs-10 col-xs-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">

            <!-- Classe section personalizada -->
            <div class="section">
                <label class="admin-menu-label">Funcionários Cadastrados</label>

                <!-- Classe table-responsive adiciona um scroll horizontal responsivo para dispositivos pequenos (bootstrap) -->
                <div class="table-responsive">

                    <!-- Classe table e derivados estilizam a tabela com o padrão bootstrap -->
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome do Funcionário</th>
                            </tr>
                        </thead>
                        <tbody>

                            <!-- Dados estáticos, insira dados do back-end aqui -->
                            <tr>
                                <td>99999</td>
                                <td>Severino da Silva Sauro</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <button class="round-button">Cadastrar Funcionário</button>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button class="round-button">Remover Funcionário</button>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button class="round-button">Editar Funcionário</button>
                    </div>
                </div>
            </div>

            <div class="section">
                <label class="admin-menu-label">Setores Cadastrados</label>

                <!-- Classe table-responsive adiciona um scroll horizontal responsivo para dispositivos pequenos (bootstrap) -->
                <div class="table-responsive">

                    <!-- Classe table e derivados estilizam a tabela com o padrão bootstrap -->
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome do Setor</th>
                            </tr>
                        </thead>
                        <tbody>

                            <!-- Dados estáticos, insira dados do back-end aqui -->
                            <tr>
                                <td>UEA00001</td>
                                <td>Reitoria</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <button class="round-button">Cadastrar Setor</button>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button class="round-button">Remover Setor</button>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button class="round-button">Editar Setor</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
