<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> Cadastro de Usuário </title>
  <!--Links CDN (um serviço de armazenamento de plugins JS online que todo plugin conhecido usa) são online (não precisa baixar os arquivos do bootstrap local)-->

	<!-- CSS compactado da última versão do bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/cadastro_usuario_style.css">
</head>
<body>
  <div class="container">
    <form class="form" action="" method="post">
      <div class="form-row">
        <h2 class="form-group col-md-8" id="text-color">CADASTRO DE USUÁRIO</h2>
        <div class="form-group col-md-8 input-group">
          <label for="nomeUsuario" class="col-form-label" id="text-color">Nome do Usuário</label>
          {{form.usuario_login(class_='form-control')}}
        </div>
        <div class="form-group col-md-4">
          <label for="senhaUsuario" class="col-form-label" id="text-color">Senha do Usuário</label>
          {{form.usuario_senha(class_='form-control')}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="emailUsuario" class="col-form-label" id="text-color">E-mail do Usuário</label>
          <input type="text" class="form-control" id="emailUsuario">
        </div>
      </div>
      <button class="round-button" type="submit">CADASTRAR</button>
      <button class="round-button" type="button">CANCELAR</button>
    </form>
  </div>
</body>
</html>
