{% extends "header.html" %}

{% block styles %}
    {{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='crud_listar_style.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col col-md-10 col-lg-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Lista de Funcionários</h4>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nome</th>
                                    <th>Setor</th>
                                    <th>Situação</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                
                                {% for funcionario in funcionarios %}
                                <tr>
                                    <td>{{funcionario.get_id()}}</td>
                                    <td>{{funcionario.nome}}</td>
                                    <td>
                                        {% if funcionario.get_setor() %}
                                            {{funcionario.get_setor().nome}}
                                        {% else %}
                                            Nenhum
                                        {% endif %}
                                    </td>
                                    <td>{{funcionario.get_situacao_texto()}}</td>
                                    <td class="my-icon-td">
                                        <a href="{{url_for('funcionario_editar', func_id=funcionario.get_id())}}" aria-label="editar" title="Editar" class="waves-effect waves-dark my-icon-button green-fg">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td class="my-icon-td">
                                        
                                        {% if funcionario.get_situacao() != 1 %}
                                            <a href="{{url_for('funcionario_desativar', func_id=funcionario.get_id())}}" title="Desativar" aria-label="desativar" class="waves-effect waves-dark my-icon-button red-fg" aria-label="desativar">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        {% else %}
                                            <div class="my-icon-button" title="Desativado" aria-label="desativado">
                                                <i class="fa fa-trash-o gray-fg" aria-hidden="true"></i>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <!-- Adicianar botão flutuante -->
                        <a href="{{url_for('funcionario_cadastrar')}}" class="waves-effect waves-light green btn-lg my-btn-floating my-btn-fixed">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>

</div>

{% endblock %}
