{% extends "header.html" %}

{% block styles %}
    <!-- CSS personalizado da página -->
    <link rel="stylesheet" href="{{url_for('static', filename='funcionario_listar_style.css')}}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-push-1 col-md-8 col-md-push-2">
                <div class="row">
                <div class="col-xs-12 col-md-4">
                    <a href="{{url_for('funcionario_criar')}}"><button class="round-button button1">ADICIONAR FUNCIONÁRIO</button></a>
                </div>
                <div class="col-xs-12 col-md-4">
                  <a><button id="editar-button" type="submit" class="round-button button2">EDITAR FUNCIONÁRIO</button></a>
                </div>
                <div class="col-xs-12 col-md-4">
                    <form id="remover-form" action="{{url_for('funcionario_desativar')}}" method="post">
                        <button type="submit" name="origem" value="home" class="round-button button3">REMOVER FUNCIONÁRIO</button>
                    </form>
                </div>
                </div>
            </div>
        </div>

        <div class="row section">
          <div class="col-xs-10 col-xs-push-1 col-md-8 col-md-push-2">
              <h1>Todos os funcionários do sistema</h1>
              <table id="table" class="table table-bordered table-hover table-condensed white-bg">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Nome do Funcionário</th>
                            <th>Situação</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for funcionario in funcionarios %}
                        <tr data-funcionario-id="{{funcionario.id}}">
                            <td><input type="checkbox"></td>
                            <td>{{funcionario.id}}</td>
                            <td>{{funcionario.nome}}</td>
                            <td>{{funcionario.situacao}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
              </table>
          </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <!-- JS personalizado da página -->
    <script>

        // Espera o documento ser carregado completamente
        $(document).ready(function(){

            $("#editar-button").click(function(){
                var id = $("tr > td > input:checked").parent().parent().first().data("funcionarioId");

                if(id != undefined)
                    window.location.href = "funcionario/" + id;
            });

            // Ajusta a largura da coluna de checkboxes
            $("thead > tr > th").first().css("width","25px");

            // Impede o clique do input de espalhar o clique para seus pais (a linha da tabela)
            $("td > input").parent().click(function(e){
                e.stopPropagation();
            });

            // Quando clicar em uma linha de alguma tabela
            $("tbody > tr").click(function(){
                // Recupera o primeiro td dentro do tr clicado e pega seu texto (id do funcionário)
                var id_funcionario = $(this).data("funcionarioId");

                // Redireciona para a tela adequada
                window.location.href="funcionario/" + id_funcionario;
            });

            // Antes do form do botão de remover ser submetido
            $("#remover-form").on("submit", function(e){
                var form = $(this);

                var i = 0;
                // Seleciona todos os tr que têm um filho input checkbox selecionado
                $("td > input:checked").parent().parent().each(function(){

                    // Para cada linha, adiciona um input escondido no form como um id em um vetor de ids
                    form.append($("<input>").attr("type","hidden").attr("name","ids[]").val($(this).data("funcionarioId")));
                    i++;
                });

                if(i==0) e.preventDefault();

            });
        });
    </script>
{% endblock %}
