{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='header.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
{% endblock %}

{% block header %}
    <nav id="header" class="navbar navbar-dark uea-dark">
        <a class="navbar-brand" id="uea-logo" href="{{url_for('home')}}">UEA</a>

        <!--Botão de Sair-->
        <form class="form-inline" action="{{url_for('logout')}}" method="post">
            <button class="btn btn-sm btn-flat">Sair</a>
        </form>
    </nav>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    <div id="footer" class="uea-dark">
        <div class="container">
            <p class="text-right mt-1">Site desenvolvido pelos alunos de MPS 2017/2</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}{% endblock %}
