{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block header %}
<div class="row">
    <div class="col-xs-12" id="fundo-verde">
        <a href="{{url_for('logout')}}">
            <button id="logout-button" class="right button z-depth-1-half">Sair</button>
        </a>
        <h2 id="uea-logo">UEA<h2>
    </div>
    {% if request.path != "/admin"%}
    <a href="{{url_for('admin_home')}}">
        <button id="home-button" class="left button z-depth-1-half">< Voltar</button>
    </a>
    {% endif %}
</div>
{% endblock %}

{% block content %}{% endblock %}

{% block scripts %}{% endblock %}
