{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- Conteúdo da esquerda -->
        <div class="col-12 col-md-6" id="left-content">
            <div class="row align-items-center h-100 uea-light">
                <div class="col text-center">
                    <img src="{{url_for('static', filename='assets/logo-uea-white.png')}}" id="uea-logo">
                </div>

                <!-- Triângulo -->
                <div id="triangulo">
                    <svg height="100" width="40" fill="#22c595">
                        <path d="M0 0 L40 50 L0 100 z"/>
                    </svg>
                </div>
            </div>
        </div>

        <!-- Conteúdo da direita (Login) -->
        <div class="col" id="right-content">
            <div class="row align-items-center justify-content-center">
                <div class="col-11 col-sm-8 col-md-10 col-lg-8">
                    <!-- Use esse trecho para exibir mensagens flashadas -->
                    <div>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li>{{ message }} </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </div>
                    
                    <div class="card uea-light mt-4 mt-md-0">
                        <div class="card-body">
                            <h2 class="card-title white-fg">Login</h2>

                            <form class="form" action="{{url_for('login')}}" method="post">
                                <!-- Necessário para funcionamento do CSRF -->
                                {{form.hidden_tag()}}
                                
                                <label class="white-fg" for="email-input">Nome de Usuário</label>
                                <div class="md-form">
                                    {{form.login(class_='white-bg', id='email-input')}}
                                </div>
                                
                                <label class="white-fg" for="password-input">Senha</label>
                                <div class="md-form mb-3">
                                    {{form.senha(class_='white-bg', id='password-input')}}
                                </div>
                                <button class="btn btn-success" id="wrapper" type="submit">LOGIN</button>
                                <button type="button" id="wrapper" class="btn btn-cadastrar" data-toggle="modal" data-target="#modalRegisterForm">Cadastre-se</button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-bold">Cadastro</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form_signup" action="{{url_for('cadastrar')}}">
                <div class="modal-body mx-3">
                    {{form_signup.hidden_tag()}}
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        {{form_signup.signup_login(class_='form-group')}}
                        {{form_signup.signup_login.label}}
                    </div>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        {{form_signup.signup_email(class_='form-group')}}
                        {{form_signup.signup_email.label}}
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        {{form_signup.signup_senha(class_='form-group')}}
                        {{form_signup.signup_senha.label}}
                        
                    </div>
                </div>
                
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-success" type="submit">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="footer" class="uea-dark">
    <div class="container">
        <p class="text-right mt-1">Site desenvolvido pelos alunos de MPS 2017/2</p>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script type="text/javascript">
    $(document).ready(function(){

        $('#form_signup').on("submit", function(event){ 
            
            $.post( $('#form_signup').attr('action'),
                    $('#form_signup').serialize(),
                    function(data) {
                        // Use este data para exibir as respostas do servidor ao usuário
                        console.log(data);
                    },
                    'json');

            event.preventDefault();
        });
    });
</script>
{% endblock %}