{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- Conteúdo da esquerda -->
        <div class="col-12 col-md-6" id="left-content">
            <div class="row align-items-center h-100 uea-light">
                <div class="col text-center">
                    <img src="{{url_for('static', filename='assets/logo-uea-white.png')}}" id="uea-logo">
                </div>

                <!-- Triângulo -->
                <div id="triangulo">
                    <svg height="100" width="40" fill="#54D182">
                        <path d="M0 0 L40 50 L0 100 z"/>
                    </svg>
                </div>
            </div>
        </div>

        <!-- Conteúdo da direita (Login) -->
        <div class="col" id="right-content">
            <div class="row align-items-center justify-content-center">
                <div class="col-11 col-sm-8 col-md-10 col-lg-8">
                    <!-- Use esse trecho para exibir mensagens flashadas -->
                    <div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                            {% if messages %}
                            {% for category, message in messages %}
                              <div class="alert alert-danger alert-dismissible mt-2 mt-md-0 mb-0 mb-md-2" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              {{ message }}
                              </div>
                            {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>

                    <div class="card mt-3 mt-md-0">
                        <div class="card-body">
                            <h2 class="card-title">Acessar Sistema UEA</h2>

                            <form id="login-form" class="form" action="{{url_for('login')}}" method="post">
                                <!-- Necessário para funcionamento do CSRF -->
                                {{form.hidden_tag()}}

                                <div class="md-form">
                                    {{form.login(class_='form-control', id='email-input')}}
                                    <label class="" for="email-input">Nome de Usuário</label>
                                </div>

                                <div class="md-form mb-3">
                                    {{form.senha(class_='form-control', id='password-input')}}
                                    <label class="" for="password-input">Senha</label>
                                </div>

                                <div class="text-center">
                                    <button id="login-button" class="btn uea-light zelda-btn-round" type="submit">LOGIN</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="text-center mb-1">
                                Não tem uma conta?
                                <a href="#" data-toggle="modal" data-target="#modal-signup">Cadastre-se!</a>
                            </div>
							<div class="text-center">
								<p><a href="{{url_for('enviar_recuperacao_senha')}}">Esqueci minha senha!</a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="card">
            <div class="card-body">
                
                <h4 class="card-title">
                    Cadastre-se
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>

                <p id="sign-up-errors">

                </p>
                
                <form class="form" id="form_signup" action="{{url_for('cadastrar')}}">
                    
                        {{form_signup.hidden_tag()}}
                        <div class="md-form">
                            {{form_signup.signup_login(class_='form-group')}}
                            {{form_signup.signup_login.label}}
                        </div>

                        <div class="md-form">
                            {{form_signup.signup_email(class_='form-group')}}
                            {{form_signup.signup_email.label}}
                        </div>
                        
                        <div class="md-form">
                            {{form_signup.signup_senha(class_='form-group')}}
                            {{form_signup.signup_senha.label}}
                        </div>
                        
                        <div class="md-form">
                            {{form_signup.confirma_senha(class_='form-group')}}
                            {{form_signup.confirma_senha.label}}
                        </div>
                    
                        <div class="d-flex justify-content-center">
                            <button id="cadastrar-btn" class="btn uea-light" type="submit">Cadastrar</button>
                        </div>
                </form>
        </div>
        </div>
    </div>
</div>

<div id="footer" class="uea-dark">
    <div class="container">
        <p class="text-right mt-1">Site desenvolvido pelos alunos de MPS 2017/2</p>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script type="text/javascript">
    $(document).ready(function(){
        exibir_erro_form = function(tipo, mensagens){
            // Exibir erros de formulário
            var div = $('<div>');
            var button = $('<button>');
            var span = $('<span>');

            div.attr("class","alert alert-" + tipo + " alert-dismissible");
            div.attr("role", "alert");

            button.attr("type","button");
            button.attr("class", "close");
            button.attr("data-dismiss", "alert");
            button.attr("aria-label", "Close");

            span.attr("aria-hidden", "true");
            span.append("&times;");

            button.append(span);
            div.append(button);

            for(var i in mensagens){
                div.append(mensagens[i]);
                div.append($('<br>'));
            }

            $('#sign-up-errors').append(div);
        };

        $('#form_signup').on("submit", function(event){
            $('#cadastrar-btn').prop("disabled", true);
            $('div.alert').remove();

            $.post( $('#form_signup').attr('action'),
                    $('#form_signup').serialize(),
                    function(data) {
                        // Use este data para exibir as respostas do servidor ao usuário
                        if(data.tipo != "warning" && data.tipo != "danger"){
                            if(data.tipo == "success") {
                                $('#modal-login').modal('toggle');
                                window.location.replace( $('#login-form').attr('action'));
                            }
                            $.simplyToast(data.mensagem);
                        }
                        else{
                            exibir_erro_form(data.tipo, data.mensagem);
                        }
                    },
                    'json').fail(function(){
                        exibir_erro_form("danger", ["Houve um erro no servidor. Certifique-se que está conectado à rede"]);
                    }).always(function(){
                        $('#cadastrar-btn').prop("disabled", false);
                    });

            event.preventDefault();
        });
    });
</script>
{% endblock %}
