{% extends "base.html" %}

{% block content %}
	<div class="container-fluid col-md-4 col-md-offset-4">
    	<div class="panel panel-default">
  			<div class="panel-heading">Faça o Login:</div>
  			<div class="panel-body">
  				<form class="form-signin" name="login_usuario" method="POST" action="/login">
  					{{ form.hidden_tag() }}
			        <label for="inputEmail" class="sr-only">Email address</label>
			        {{ form.usuario(type="email", class_="form-control", placeholder="Usuario (Email)", autofocus = True, required=True) }}
			        
			        <label for="inputPassword" class="sr-only">Senha</label>
			        {{form.senha(type="password", class_="form-control", placeholder="Senha", required=True)}}
			       	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Acessar">
			        
			    </form>

  			</div>
  			
		</div>
    </div> <!-- /container -->
{% endblock %} 
