{% extends "header.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='crud_style.css')}}">
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="container">
    <div class="row mt-3">
        <div class="col-11 col-md-7 col-lg-5 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cadastrar novo setor</h4>
        
                    <form class="form" action="" method="post">
                        {{form.hidden_tag()}}
        
                        <div class="md-form">
                            {{form.setor_nome(class_='form-control', id='nome-input')}}
                            <label for="nome-input">Nome do Setor</label>
                        </div>
        
                        <button type="submit" class="btn uea-light">Cadastrar</button> 
                        <a href="{{url_for('setor_listar')}}">
                            <button type="button" class="btn btn-flat">Cancelar</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
