{% extends "header.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{url_for('static', filename='crud_style.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="container">
    <div class="row mt-5">
        <div class="col-11 col-sm-10 col-md-8 col-lg-5 mx-auto">
            <h2>Confirmar Desativação de Setor</h2>
            <p>
                Deseja realmente desativar o seguinte setor?
            </p>
            <p>
                <ul class="list-group black-fg">
                    <li class="list-group-item"><span><strong>Id:</strong></span> {{setor.id}}</li>
                    <li class="list-group-item"><span><strong>Nome:</strong></span> {{setor.nome}}</li>
                </ul>
            </p>
            <form class="form" action="" method="post">
                <button type="submit" class="btn btn-danger">Sim</button> 
                <a href="{{url_for('setor_listar')}}">
                    <button type="button" class="btn btn-default">Não</button>
                </a> 
            </form>
        </div>
    </div>
</div>

{% endblock %}
