{% extends "header.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='setor_crud_style.css')}}">
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="container">
    <div class="row">

        <h2 id="cad-setor">CADASTRO DE SETOR</h2>

            <form class="form" action="" method="post">
                {{form.hidden_tag()}}

                <!--Adicionar form-group numa div estiliza os inputs automaticamente (classe do bootstrap)-->
                <div class="form-group">
                    <label id="nome-setor">Nome do Setor</label>
                    {{form.setor_nome(class_='form-control')}}
                </div>

                <div class="row mx-auto" id="my-buttons">
                  <div class="col-md-3 col-md-push-6 form-group">
                        <a href="{{url_for('setor_listar')}}"><button class="round-button" type="button">CANCELAR</button></a>
                    </div>
                    		<div class="col-md-9 col-md-push-6 form-group">
                    <button class="round-button" type="submit">CADASTRAR</button>
                    </div>
                </div>

            </form>
        </div>

    </div>

</div>

{% endblock %}
