{% extends "header.html" %}

{% block styles %}
{{ super() }}
<link href="{{url_for('static', filename='crud_style.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="container">
    <div class="row mt-3">
        <div class="col-11 col-sm-10 col-md-8 col-lg-5 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Confirmar Desativação de Sistema</h4>
                    <p>
                        Deseja realmente desativar o seguinte sistema?
                    </p>
                    <p>
                        <ul class="list-group black-fg">
                            <li class="list-group-item"><span><strong>Codigo:</strong></span> {{sistema.get_id()}}</li>
                            <li class="list-group-item"><span><strong>Nome:</strong></span> {{sistema.nome}}</li>
                        </ul>
                    </p>
                    <form class="form" action="" method="post">
                        <a href="{{url_for('sistema_listar')}}">
                            <button type="button" class="btn uea-light">Não</button>
                        </a>
                        <button type="submit" class="btn btn-danger">Sim</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
