{% extends "header.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='usuario_crud_style.css')}}">
{% endblock %}

{% block content %}

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="container-fluid">
		  <div class="row">
  			<!--<div class="col-xs-10 col-xs-push-1">-->
        <div class="col-md-6">
            <h4 id="cad-usu">EDITAR USUÁRIO</h4>
        </div>

  			<form  action="" class="form" method="POST">
                  {{form.hidden_tag()}}
          <div class="col-md-8">
            <div class="form-group">
              <label><h4 id="labels">Nome do Usuário</h4></label>
              {{form.usuario_login(class_='form-control')}}
            </div>
          </div>
  					<div class="col-md-4">
  						<div class="form-group">
  							<label><h4 id="labels">Senha do Usuário</h4></label>
  							{{form.usuario_senha(class_='form-control')}}

  						</div>
  					</div>
				</div>
        <div class="col-md-4 col-md-3-push  form-group">
            <h4 id="labels">Foto</h4>

              <br><button class="round-button" type="submit">Selecionar</button>
</div>

                        <label><h4 id="labels">Tipo do Usuário</h4></label>
                        {% for item in form.usuario_admin %}
                            <div class="checkbox">
                                <label><h4 id="labels">
                                    {{item}}
                                    {{item.label}}
                                </h4></label>
                            </div>
                        {% endfor %}
</div>


				<div class="row mx-auto" id="my-buttons">
					<div class="col-md-9 form-group">
						<a href="{{url_for('usuario_listar')}}"><button type="button" class="round-button button1 pull-right">CANCELAR</button></a>
					</div>
					<div class="col-md-3 form-group">
						<button type="submit" class="round-button button1 pull-right">ATUALIZAR</button>

					</div>
				</div>

			</form>
         	<!-- </div> -->
      	</div>
    </div>

{% endblock %}
