{% extends "header.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='funcionario_crud_style.css')}}">
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="container" id="login-page-container">
      <div class="row">
         <div class="col-xs-10 col-xs-push-1">

            <h2>Atualizar Dados de Usuário</h2>
         <form class="form" action="" method="post">
                {{form.hidden_tag()}}
                {{form.usuario_id}}
                  
                  <div class="row">
                     <div class="col-xs-6 col-md-4">
                        <div class="form-group">
                           <div class="input-group">
                              <label><h4>Login do Usuário</h4></label>
                                {{form.usuario_login(class_='form-control')}}
                           </div>
                        </div>
                     </div>
                     <div class="col-xs-6 col-md-4">
                        <div class="form-group">
                           <div class="input-group">
                              <label><h4>Senha do usuário</h4></label>

                                {{form.usuario_senha(class_='form-control')}}
                           </div>
                        </div>
                     </div>
                     <div class="col-xs-6 col-md-4">
                        <label><h4>Tipo do Usuário</h4></label>
                        {% for item in form.usuario_admin %}
                            <div class="checkbox">
                                <label>
                                    {{item}}
                                    {{item.label}}
                                </label>
                            </div>
                        {% endfor %}
                     </div>
                  </div>
                 
                  </div>
               <button class="round-button" type="submit">ATUALIZAR</button>
               <a href="{{url_for('usuario_listar')}}"><button type="button" class="round-button">CANCELAR</button></a>
         </form>
         </div>
      </div>
    </div>

{% endblock %}
