{% extends "header.html" %}

{% block styles %}
    <!-- CSS personalizado da página -->
    <link rel="stylesheet" href="{{url_for('static', filename='usuario_crud_style.css')}}">
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
<header>
  <span>UEA</span><button type="submit" class="exit-button">sair</button>  
</header>

<p><a href="usuario_home"> Voltar </a> > <a href=""> Main </a> > <a href="usuario_listar"> Listar Usuários</a> > <a href=""> Cadastrar Usuários</a></p>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul>
          {% for message in messages %}
              <li>{{ message }} </li>
          {% endfor %}
          </ul>
      {% endif %}
  {% endwith %}


<main>
            <h4>CADASTRAR USUÁRIO</h4>
            
            <form class="form" action="" method="post">
                {{form.hidden_tag()}}
                              <p>Login do Usuário<span>Senha do Usuário</span></p></form>
                              <input class="inputs-login" name="last" type="text">
                                {{form.usuario_login(class_='form-control')}}
                              
                              <input class="inputs-senha" name="last" type="text">
                                {{form.usuario_senha(class_='form-control')}}
                        <p>Foto<p>
                        <input class="inputs-picture" name="last" type="text">
                        <br><button class="round-button" type="submit">Selecionar</button>

<p> Tipo do Usuário</p>
<form>
    <input type="radio" name="tipo" value="comum" checked>Usuário Comum
    <br>
    <input type="radio" name="tipo" value="adm" >Administrador
</form>     
                      <a href="{{url_for('usuario_listar')}}"><button class="round-button" type="button" style="margin-left:60%" >CANCELAR</button></a>
                      <button class="round-button" type="submit" style="margin-left:1.5%" >CADASTRAR</button><br><br>
                      </main>
                      <rodape>
  <span>Site desenvolvido por Alunos de MPS 2017/2</span><button type="submit" class="exit-button">sair</button>  
</rodape>

</body>
</html>
{% endblock %}
