{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-10 col-md-8 col-lg-5">
            {% include "errors.html" %}

            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">Recuperar Senha</h4>
                    <p>Enviaremos um email para você recuperar sua senha.</p>
                    <form class="form" action="" method="post">
                        <!-- Necessário para funcionamento do CSRF -->
                        {{form.hidden_tag()}}

                        <div class="md-form">
                            {{form.recupera_email(class_='form-control', id='email-input')}}
                            <label class="" for="email-input">Email do Usuário</label>
                        </div>

                        <div class="text-center">
                            <button id="login-button" class="btn uea-light zelda-btn-round" type="submit">Enviar Email</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="footer" class="uea-dark">
    <div class="container">
        <p class="text-right mt-1">Site desenvolvido pelos alunos de MPS 2017/2</p>
    </div>
</div>

{% endblock %}
