{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- Conteúdo da esquerda -->
        <!-- Conteúdo da direita (Login) -->
        <div class="col" id="right-content">
            <div class="row align-items-center justify-content-center">
                <div class="col-11 col-sm-8 col-md-10 col-lg-8">
                    <!-- Use esse trecho para exibir mensagens flashadas -->
                    <div>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li>{{ message }} </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </div>

                    <div class="card mt-4 mt-md-0">
                        <div class="card-body">
                            <h2 class="card-title">Nova Senha</h2>
							<p>Insira sua nova Senha.</p>

                            <form class="form" action="{{url_for('reset_with_token', token = token)}}" method="post">
                                <!-- Necessário para funcionamento do CSRF -->
                                {{form.hidden_tag()}}

								<div class="md-form mb-3">
									{{form.nova_senha(class_='form-control', id='password-input')}}
									<label class="" for="password-input">Nova Senha</label>
								</div>


                                <div class="text-center">
                                    <button id="login-button" class="btn uea-light zelda-btn-round" type="submit">Mudar Senha</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="footer" class="uea-dark">
    <div class="container">
        <p class="text-right mt-1">Site desenvolvido pelos alunos de MPS 2017/2</p>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script type="text/javascript">
    $(document).ready(function(){

        $('#form_signup').on("submit", function(event){

            $.post( $('#form_signup').attr('action'),
                    $('#form_signup').serialize(),
                    function(data) {
                        // Use este data para exibir as respostas do servidor ao usuário
                        console.log(data);
                    },
                    'json');

            event.preventDefault();
        });
    });
</script>
{% endblock %}
